body, html {
    height: 100%;
    background-image: url("content/fundo.jpg");
    background-size: 1080px;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 28px;
}

.container {
    position: relative;
    color: black;
}

.card {
    display: flex;
    align-items: center;
    background-color: #fff;
    width: 40vw;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    text-align: left;
    transition: background-color 0.3s, color 0.3s;
}

#imagem {
    width: 40%; 
    height: auto;
    margin-right: 30px; 
}